[Desktop Entry]
Name=firefox
Comment=Mozilla Firefox Browser [Seccomp-bpf Sandbox]
Icon=:resources/firefox
Exec=firejail --profile=/etc/firejail/firefox.profile --protocol=unix,inet,netlink,packet --dns=193.138.218.74 --dns=198.98.49.91 /usr/bin/firefox
