[Desktop Entry]
Name=mpv
Comment=mpv Media Player {Firejail Sandboxed}
Icon=mpv
Exec=firejail --profile=/etc/firejail/mpv.profile --net=none /usr/bin/mpv --player-operation-mode=pseudo-gui
