[Desktop Entry]
Name=audacious
Comment=Audacious
Icon=audacious
Exec=firejail --profile=/etc/firejail/audacious.profile --net=none /usr/bin/audacious
