## 
##-=================================================================================-##
## [+] 50-bluetooth-hci-auto-poweroff.rules - auto powers bluetooth off on startup.
##-=================================================================================-##
##                 [?] You can run this as a script if you want.
##          It echoes the predefined udev rule into the rules.d/ directory.
##-=================================================================================-##

echo '# Set bluetooth power down' > /lib/udev/rules.d/50-bluetooth-hci-auto-poweroff.rules
echo 'ACTION=="remove", SUBSYSTEM=="bluetooth", KERNEL=="hci[0-9]*", RUN+="/bin/hciconfig %k down"' >> /lib/udev/rules.d/50-bluetooth-hci-auto-poweroff.rules

